
    /*  [ Page Info & Mission statement ]   */
#title_head {
  margin-top: 40px;
  min-width: 700px;
  text-align: center;
  padding: 5px;

  /* set as grid */
  display: grid;

  /* set as 1-column grid */
  grid-template-columns: [start] 100% [end];

  /* set as 2-row grid */
  grid-template-rows: [start] 80% [middle] 20% [end];

  /* set grid area */
  grid-template-areas: "project_title"
                       "parent_name";

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#project_title {
  grid-area: project_title;
  justify-self: center;    /* place logo to center */
  align-self: center;     /* center of column-grid */
  width: auto;
  height: 70px;

  font-size: 50px;
  color: #fff;
  font-family: "Volkhov", serif;
  text-align: center;
  font-weight: 700;

  padding-left: 10px;
  padding-right: 10px;

  text-shadow:
                   0 1px 0 hsl(174,5%,80%),
                   0 2px 0 hsl(174,5%,75%),
                   0 3px 0 hsl(174,5%,70%),
                   0 4px 0 hsl(174,5%,66%),
                   0 5px 0 hsl(174,5%,64%),
                   0 6px 0 hsl(174,5%,62%),
                   0 7px 0 hsl(174,5%,61%),
                   0 8px 0 hsl(174,5%,60%),

                   0 0 5px rgba(0,0,0,.05),
                   0 1px 3px rgba(0,0,0,.2),
                   0 3px 5px rgba(0,0,0,.2),
                   0 5px 10px rgba(0,0,0,.2),
                   0 10px 10px rgba(0,0,0,.2),
                   0 20px 20px rgba(0,0,0,.3);

  /*border: 1px solid red;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


#parent_name {
  grid-area: parent_name;
  justify-self: center;    /* place logo to center */
  align-self: start;     /* center of column-grid */
  width: auto;

  padding-left: 10px;
  padding-right: 10px;

  text-shadow: 0px 1px 0px #fff;
	color: #8d0e0e;
  font-family: "Brush Script MT", cursive;
	font-size: 20px;
	font-weight: 100;

  /*border: 1px solid red;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

/*
section article {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
}

#mission_statement p {
  width: 70%;
  margin: 0 auto;
  font-size: 15px;
  color: #000;
  text-shadow: 0px 1px 0px #fff;
}
*/
      /*  [ END Page Info & Mission statement ]   */


      /*  [ Filter & Search Forms ] */

aside {
  position: fixed;
}

#left_nav {
  left: 2%;
  width: 17%;
  min-width: 100px;
  max-width: 115px;

  margin-top: 10px;

  background-color: #292929;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  box-shadow: 0 0 10px #000;

  /* set display as grid */
  display: grid;

  /* set 1-column grid */
  grid-template-columns: [start] 100% [end];

  /* set as 2-row-grid */
  grid-template-rows: [start] 45px [middle] auto [end];

  /* set gap between rows */
  grid-row-gap: 1px;

  /* set grid area */
  grid-template-areas: "views"
                       "filter_form";

  /*border: 1px solid blue;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	   -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	        border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	        transition: all .5s;
}


div.views{
  grid-area: views;
  width: 100%;
  margin-top: 2.5px;
  padding-right: 2px;

  /* set display as grid */
  display: grid;

  /* set as 2-column grid */
  grid-template-columns: [start] repeat(2, 1fr) [end];

  /* set as 1-row grid */
  grid-template-rows: [start] 100% [end];

  /* set grid area */
  grid-template-areas: "alpha beta";

  /*border: 1px solid red;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


.alpha{
  grid-area: alpha;
  justify-self: center;
  align-self: center;

  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) repeat 9px center;
  height: 40px;
  width: 40px;

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	   -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	        border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

  box-shadow: inset 0 0 10px #000000;
}


.alpha:hover {
  box-shadow: inset 0 0 5px #000000;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

.alpha:focus {
  background-color: #ff0000;
  outline: none;
}


.beta{
  grid-area: beta;
  justify-self: center;
  align-self: center;

  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) repeat 9px center;
  height: 40px;
  width: 40px;

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	   -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	        border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

  box-shadow: inset 0 0 10px #000000;
}


.beta:hover {
  box-shadow: inset 0 0 5px #000000;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


.beta:focus {
  background-color: #ff0000;
  outline: none;
}

#filter_form {
  grid-area: filter_form;
  width: 95%;
  padding: 5px;
  margin: 5px auto;

  background-color: #292929;
  background-image: url("https://www.transparenttextures.com/patterns/maze-black.png");
  box-shadow: inset 0 0 10px black;

  /* set display as grid */
  display: grid;

  /* set as 1-column grid */
  grid-template-columns: [start] 100% [end];

  /* set as multi-row */
  grid-template-rows: [start] auto [end];

  /* set auto rows */
  grid-auto-rows: auto;

  /* set default grid of new elements */
  grid-auto-flow: row;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

input {
	outline: none;
}

div.cell {

  /* set display as grid */
  display: grid;

  /* set as 2-colum grid */
  grid-template-columns: [start] 80% [middle] 20% [end];

  /* set as 1-row grid */
  grid-template-rows: [start] auto [end];

  /* set gap between columns */
  grid-column-gap: 1px;

  /* set grid area */
  grid-template-areas: "label checkbox_container";


  -webkit-border-radius: 1em;
	   -moz-border-radius: 1em;
	        border-radius: 1em;
}

label {
  grid-area: label;
}

#reset {
  color: #add0ff;
}

.checkbox_container {
  grid-area: checkbox_container;
  justify-self: center;
}

img#alpha{
  width: 100%;
}

img#beta{
  width: 100%;
}

    /*  [ END Filter & Search Forms ] */


    /* [ MAIN GALLERY ] */

#photo_gallery {
  width: 70%;
  min-width: 490px;

  margin: 0 auto;

  /* set display as grid */
  display: grid;

  /* set as 1-column grid */
  grid-template-columns: [start] 100% [end];

  /* set as 1-row grid */
  grid-template-rows: auto;

  /* set as multi-row grid */
  grid-auto-flow: row;

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

figure#alpha_gallery {
  /*border: 2px solid black;*/
  margin-bottom: 5%;
  width: 100%;
  padding: .5%;

  /*border: 1px solid blue;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

figure#beta_gallery {
  /*border: 2px solid black;*/
  margin-left: 2.5%;
  margin-bottom: 5%;
  width: 30%;
  padding: .5%;
  display: inline-block;
  min-width: 210px;
}

figcaption{
  width: 258px;
  text-shadow: 0 1px 0 white;
  min-width: 210px;

  height: auto;

  /*border: 1px solid red;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

.caption_wrapper {
  width: 100%;
  height: auto;

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

.captions {
  list-style-type: none;
  display: inline-block;
  margin: 2px;
  padding: 5px;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

  box-shadow: inset 0 0 3px black;
}

#photo_gallery img{
  width: 100%;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

img.pop {
  padding-bottom: 30px;
	background: radial-gradient(closest-side at 50% 95%, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 90%);
}
  /* [ END MAIN GALLERY ] */


.preview {
  padding: 4em;
  width: 100%;
  margin: 0 auto;
  /*border: 1px solid red;*/
}

.preview figure {
  /*width: 60%;*/
  height: 98%;
  margin: 10 auto;
  /*border: 1px solid green;*/
}


/*  Aside-Right, Upcoming Photos  */
#thumbnail_scroll {
  top: 12em;
  right:1%;

  width: 17%;
  min-width: 150px;
  max-width: 150px;
  max-height: 60%;
  overflow-y: scroll;

  padding-top: 2px;
  padding-bottom: 2px;

  /* set display as grid */
  display: grid;

  /* set as 1-column grid */
  grid-template-columns: [start] 100% [end];

  /* set as multi-row grid */
  grid-auto-flow: row;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

  box-shadow: inset 0 0 10px black;
}

.thumbnail {
  width: 90%;
  margin: 5px auto;
  padding: 2px;

  /* set as grid */
  display: grid;

  /* set as 1-column grid */
  grid-template-columns: [start] 100% [end];

  /* set as 1-row grid */
  grid-template-rows: [start] auto [end];

  /*border: 1px solid green;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#thumbnail_scroll img{
  width: 100%;

  /*border: 1px solid red;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


/* Footer */
footer {
  width: 100%;
  margin: 0 auto;
  /*padding: 1px 5px;*/
}

.fOptions {
  /*border: 1px solid pink;*/
  width: 200px;
  padding-bottom: 3px;
  /*min-width: 345px;*/
}

.link{
  text-align: center;
  /*border: 1px solid pink;*/
  width: 100%;
  float: right;
  padding-right: 2%;
  padding-left: 3%;
  margin-right: 50%;
}

.link:hover {
  box-shadow: inset 0 0 5px #000000;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#contacts {
  left: 41.7%;
}

#credits {
  right: 20%;
}


#copyright {
  float: left;
  padding-left: 1.4%;
}


/* ABOUT PAGE */

#coding {
  top: 8%;
  left: 38.4%;
  width: 23%;
  /*height: 40%;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


#coding:hover {
  width: 24%;
  box-shadow: 3px 5px 4px #000;
  cursor:crosshair;
  /*box-shadow: inset 0 0 5px #000000;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#coding2 {
  bottom: 40px;
  left: 20%;
  width: 10%;
  /*height: 40%;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#coding2:hover {
  width: 11%;
  box-shadow: 3px 5px 4px #000;
  cursor:crosshair;
  /*box-shadow: inset 0 0 5px #000000;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


#selfie {
  bottom: 5px;
  left: 33.4%;
  width: 32%;
  /*height: 40%;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


#selfie:hover {
  left: 32.8%;
  width: 33%;
}

#media {
  bottom: 40px;
  left: 66.5%;
  width: 10%;
  /*height: 40%;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#media:hover {
  width: 11%;
  box-shadow: -3px -5px 4px #000;
  cursor:crosshair;
  /*box-shadow: inset 0 0 5px #000000;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


#fotography {
  bottom: 30%;
  left: 4%;
  width: 25%;
  /*height: 40%;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#fotography:hover {
  width: 26%;
  box-shadow: 3px 5px 4px #000;
  cursor:crosshair;
  /*box-shadow: inset 0 0 5px #000000;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#fotography2 {
  bottom: 40px;
  left: 4%;
  width: 10%;
  /*height: 40%;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#fotography2:hover {
  width: 11%;
  box-shadow: -3px -5px 4px #000;
  cursor:crosshair;
  /*box-shadow: inset 0 0 5px #000000;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


#filming {
  bottom: 30%;
  right: 4%;
  width: 25%;
  /*height: 40%;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#filming:hover {
  width: 26%;
  box-shadow: -3px 5px 4px #000;
  cursor:crosshair;
  /*box-shadow: inset 0 0 5px #000000;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#filming2 {
  bottom: 40px;
  right: 4%;
  width: 10%;
  /*height: 40%;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#filming2:hover {
  width: 11%;
  box-shadow: 3px 5px 4px #000;
  cursor:crosshair;
  /*box-shadow: inset 0 0 5px #000000;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


#creativ {
  top: 8%;
  right: 6%;
  width: 20%;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#passione {
  top: 8%;
  left: 4%;
  width: 20%;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


/*  ABOUT ARTICLES  */

.main-article {
  top: 18%;
  /*left: 30%;*/
  width: 100%;
  height: 60%;
  /*box-shadow: 0px 0px 10px #000;*/
  box-shadow: inset 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

}

#photographer {
  width: 90%;
  margin: 5% 5% auto;
  /*border: 1px solid black;*/

}

#photographer p:nth-child(1) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#photographer p:nth-child(2) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#photographer p:nth-child(3) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#photographer p:nth-child(4) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#photographer p:nth-child(5) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#programmer {
  width: 90%;
  margin: 5% 5% auto;
  /*border: 1px solid black;*/

}

#programmer p:nth-child(1) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#programmer p:nth-child(2) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#programmer p:nth-child(3) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#programmer p:nth-child(4) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}


#videographer {
  width: 90%;
  margin: 5% 5% auto;
  /*border: 1px solid black;*/

}

#videographer p:nth-child(1) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#videographer p:nth-child(2) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#videographer p:nth-child(3) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}



#info {
    width: 90%;
    margin: 5% 5% auto;
    /*border: 1px solid black;*/

  }

#info p:nth-child(1) {
    bottom: 5%;
    left: 2.5%;
    width: 400px;
    box-shadow: 0px 0px 20px #000000;
    background-color: #ffffff;
    -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
       -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
            border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
    margin: 10px auto;
    padding-left: 2%;
    padding-right: 1%;
    border: 1px solid black;

  }

#info p:nth-child(2) {
    bottom: 5%;
    left: 2.5%;
    width: 400px;
    box-shadow: 0px 0px 20px #000000;
    background-color: #ffffff;
    -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
       -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
            border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
    margin: 10px auto;
    padding-left: 2%;
    padding-right: 1%;
    border: 1px solid black;

  }

#info p:nth-child(3) {
    bottom: 5%;
    left: 2.5%;
    width: 400px;
    box-shadow: 0px 0px 20px #000000;
    background-color: #ffffff;
    -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
       -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
            border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
    margin: 10px auto;
    padding-left: 2%;
    padding-right: 1%;
    border: 1px solid black;

  }

#info p:nth-child(4) {
    bottom: 5%;
    left: 2.5%;
    width: 400px;
    box-shadow: 0px 0px 20px #000000;
    background-color: #ffffff;
    -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
       -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
            border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
    margin: 10px auto;
    padding-left: 2%;
    padding-right: 1%;
    border: 1px solid black;

  }

#info p:nth-child(5) {
    bottom: 5%;
    left: 2.5%;
    width: 400px;
    box-shadow: 0px 0px 20px #000000;
    background-color: #ffffff;
    -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
       -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
            border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
    margin: 10px auto;
    padding-left: 2%;
    padding-right: 1%;
    border: 1px solid black;

  }


#mediaDesign {
      width: 90%;
      margin: 5% 5% auto;
      /*border: 1px solid black;*/

    }

#mediaDesign p:nth-child(1) {
      bottom: 5%;
      left: 2.5%;
      width: 400px;
      box-shadow: 0px 0px 20px #000000;
      background-color: #ffffff;
      -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
         -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
              border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
      margin: 10px auto;
      padding-left: 2%;
      padding-right: 1%;
      border: 1px solid black;

    }


#close-button {
  top: 10px;
  right: 10px;
  width: 25px;
  padding-top: 2.2px;
  cursor: default;
  box-shadow: 0px 0px 2px #000000;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

.ebox {
  bottom: 30px;
  left: 0px;
  width: 100%;
  /*border: 2px solid black;*/
}

#email {
  bottom: 10px;
  left: 38%;
  padding: 5px 5px;
  margin: 0 0 auto;
  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#credList {
  /*border: 1px solid black;*/
  width: 550px;
  right: 12%;
  bottom: 40px;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#credList li {
  display: block;
  padding-bottom: 1%;
}
