@import url(//fonts.googleapis.com/css?family=PT+Sans+Narrow|Volkhov:400italic,700);

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* General Demo Style */
body {
	background: #e4ebe9 url(../images/texture3.jpg) repeat top left;

	color: #444;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    min-width: 320px;
}

body.body_container {
  background-color: #87898c;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

a {
	color: #000;
	text-decoration: none;
}

h2 {
	margin: 20px 20px 30px 20px;
	font-size: 56px;
	color: #fff;
	font-family: "Volkhov", serif;
	text-align: center;
	font-weight: 700;
	text-shadow: 1px 1px 3px #e0d1bc;
}

/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(0, 0, 0, .05);
	text-transform: uppercase;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;

	position: fixed;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	/*border: 1px solid black;*/
}

/*home nav */
.codrops-top a#homebutton {
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
	width: 95px;
	padding-right: 6px;
	padding-top: 5px;
	/*border: 1px solid #C0C9C0;*/

	-webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
		 -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
					border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

.codrops-top a#homebutton:hover {
	background: linear-gradient(to left, red, black);
}

.codrops-top a#galleryButton:hover {
	background: linear-gradient(to left, red, black);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
	/*border: 1px solid red;*/
}

#galleryButton {
	width: 130px;
	padding-left: 5px;
	margin-top: 4px;
	margin-right: 14px;
	margin-left: 5px;
	-webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
		 -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
					border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#icredit {
	margin-top: 4px;
	margin-right: 9px;

  text-shadow: 0 1px 0 white;

	-webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
		 -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
					border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

/* blue bar */
#request {
  height:20px;
  width:auto;
  background:#eee8aa;
  z-index:0;
  position: static;
}

/* text */
#request {
  color:#91A3B0;
  left:50%;
  transform:translate(-50%,-50%);
  position: absolute;
  display: inline-block;
	padding-bottom: 24px;
	padding-left: 7.5px;
	width: 70px;

	-webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
		 -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
					border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

	/* font */
  font-size: auto;
	/*
  font-family:'open sans',sans-serif;
	*/
  letter-spacing:3px;
  font-weight: bolder;

}

/* blue bar */
a.xhibit {
  height:20px;
  width:auto;
  background:#eee8aa;
  z-index:0;
  position: static;
}

a.xhibit {
  color:#91A3B0;
  left:50%;
  transform:translate(-50%,-50%);
  position: absolute;
  display: inline-block;
	padding-bottom: 24px;
	width: 80px;
	padding-left: 4.5px;
	-webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
		 -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
					border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

	/* font */
  font-size: auto;
	/*
  font-family:'open sans',sans-serif;
	*/
  letter-spacing:3px;
  font-weight: bolder;

}

a.xhibit {
  top:45%;
	width: 88px;
}

/* Shine */
a.xhibit:after {
	content:'';
  top:0;
	left: inherit;
	transform:translateX(100%);
	width:10%;
	height: 100%;
	position: absolute;
	z-index:1;
	animation: slide 2.5s infinite;


  /*
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/
  */
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

#request {
  top:45%;
}

/* Shine */
#request:after {
	content:'';
  top:0;
	left: inherit;
	transform:translateX(100%);
	width:10%;
	height: 100%;
	position: absolute;
	z-index:1;
	animation: slide 2.5s infinite;


  /*
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/
  */
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

/* animation */

@keyframes slide {
	0% {transform:translateX(-500%);}
	100% {transform:translateX(400%);}
}

    /*  [ Page Info & Mission statement ]   */
#title_head {
  margin-top: 40px;
  min-width: 700px;
  text-align: center;
  padding: 5px;

  /* set as grid */
  display: grid;

  /* set as 1-column grid */
  grid-template-columns: [start] 100% [end];

  /* set as 2-row grid */
  grid-template-rows: [start] 80% [middle] 20% [end];

  /* set grid area */
  grid-template-areas: "project_title"
                       "parent_name";

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

  background-color: #c0c0c0;
  background-image: url("https://www.transparenttextures.com/patterns/buried.png");
}

#project_title {
  grid-area: project_title;
  justify-self: center;    /* place logo to center */
  align-self: center;     /* center of column-grid */
  width: auto;
  height: 70px;

  font-size: 50px;
  color: #fff;
  font-family: "Volkhov", serif;
  text-align: center;
  font-weight: 700;

  padding-left: 10px;
  padding-right: 10px;

  text-shadow:
                   0 1px 0 hsl(174,5%,80%),
                   0 2px 0 hsl(174,5%,75%),
                   0 3px 0 hsl(174,5%,70%),
                   0 4px 0 hsl(174,5%,66%),
                   0 5px 0 hsl(174,5%,64%),
                   0 6px 0 hsl(174,5%,62%),
                   0 7px 0 hsl(174,5%,61%),
                   0 8px 0 hsl(174,5%,60%),

                   0 0 5px rgba(0,0,0,.05),
                   0 1px 3px rgba(0,0,0,.2),
                   0 3px 5px rgba(0,0,0,.2),
                   0 5px 10px rgba(0,0,0,.2),
                   0 10px 10px rgba(0,0,0,.2),
                   0 20px 20px rgba(0,0,0,.3);

  /*border: 1px solid red;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


#parent_name {
  grid-area: parent_name;
  justify-self: center;    /* place logo to center */
  align-self: start;     /* center of column-grid */
  width: auto;

  padding-left: 10px;
  padding-right: 10px;

  text-shadow: 0px 1px 0px #fff;
	color: #8d0e0e;
  font-family: "Brush Script MT", cursive;
	font-size: 20px;
	font-weight: 100;

  /*border: 1px solid red;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

/*
section article {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
}

#mission_statement p {
  width: 70%;
  margin: 0 auto;
  font-size: 15px;
  color: #000;
  text-shadow: 0px 1px 0px #fff;
}
*/
      /*  [ END Page Info & Mission statement ]   */


      /*  [ Filter & Search Forms ] */

aside {
  position: fixed;
}

#left_nav {
  left: 2%;
  width: 17%;
  min-width: 100px;
  max-width: 115px;

  margin-top: 10px;

  background-color: #292929;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  box-shadow: 0 0 10px #000;

  /* set display as grid */
  display: grid;

  /* set 1-column grid */
  grid-template-columns: [start] 100% [end];

  /* set as 2-row-grid */
  grid-template-rows: [start] 45px [middle] auto [end];

  /* set gap between rows */
  grid-row-gap: 1px;

  /* set grid area */
  grid-template-areas: "views"
                       "filter_form";

  /*border: 1px solid blue;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	   -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	        border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	        transition: all .5s;
}


div.views{
  grid-area: views;
  width: 100%;
  margin-top: 2.5px;
  padding-right: 2px;

  /* set display as grid */
  display: grid;

  /* set as 2-column grid */
  grid-template-columns: [start] repeat(2, 1fr) [end];

  /* set as 1-row grid */
  grid-template-rows: [start] 100% [end];

  /* set grid area */
  grid-template-areas: "alpha beta";

  /*border: 1px solid red;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


.alpha{
  grid-area: alpha;
  justify-self: center;
  align-self: center;

  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) repeat 9px center;
  height: 40px;
  width: 40px;

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	   -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	        border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

  box-shadow: inset 0 0 10px #000000;
}


.alpha:hover {
  box-shadow: inset 0 0 5px #000000;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

.alpha:focus {
  background-color: #ff0000;
  outline: none;
}


.beta{
  grid-area: beta;
  justify-self: center;
  align-self: center;

  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) repeat 9px center;
  height: 40px;
  width: 40px;

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	   -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	        border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

  box-shadow: inset 0 0 10px #000000;
}


.beta:hover {
  box-shadow: inset 0 0 5px #000000;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


.beta:focus {
  background-color: #ff0000;
  outline: none;
}

#filter_form {
  grid-area: filter_form;
  width: 95%;
  padding: 5px;
  margin: 5px auto;

  background-color: #292929;
  background-image: url("https://www.transparenttextures.com/patterns/maze-black.png");
  box-shadow: inset 0 0 10px black;

  /* set display as grid */
  display: grid;

  /* set as 1-column grid */
  grid-template-columns: [start] 100% [end];

  /* set as multi-row */
  grid-template-rows: [start] auto [end];

  /* set auto rows */
  grid-auto-rows: auto;

  /* set default grid of new elements */
  grid-auto-flow: row;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

input {
	outline: none;
}

div.cell {

  /* set display as grid */
  display: grid;

  /* set as 2-colum grid */
  grid-template-columns: [start] 80% [middle] 20% [end];

  /* set as 1-row grid */
  grid-template-rows: [start] auto [end];

  /* set gap between columns */
  grid-column-gap: 1px;

  /* set grid area */
  grid-template-areas: "label checkbox_container";


  -webkit-border-radius: 1em;
	   -moz-border-radius: 1em;
	        border-radius: 1em;
}

label {
  grid-area: label;
}

#reset {
  color: #add0ff;
}

.checkbox_container {
  grid-area: checkbox_container;
  justify-self: center;
}

img#alpha{
  width: 100%;
}

img#beta{
  width: 100%;
}

    /*  [ END Filter & Search Forms ] */


    /* [ MAIN GALLERY ] */

#photo_gallery {
  width: 70%;
  min-width: 490px;

  margin: 0 auto;
  margin-top: 4px;

  /* set display as grid */
  display: grid;

  /* set as 1-column grid */
  grid-template-columns: [start] 100% [end];

  /* set as 1-row grid */
  grid-template-rows: auto;

  /* set as multi-row grid */
  grid-auto-flow: row;

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

figure#alpha_gallery {
  /*border: 2px solid black;*/
  margin-bottom: 5%;
  width: 100%;
  padding: .5%;

  /*border: 1px solid blue;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

figure#beta_gallery {
  /*border: 2px solid black;*/
  margin-left: 2.5%;
  margin-bottom: 5%;
  width: 30%;
  padding: .5%;
  display: inline-block;
  min-width: 210px;
}

figcaption{
  width: 258px;
  text-shadow: 0 1px 0 white;
  min-width: 210px;

  height: auto;

  /*border: 1px solid red;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

.caption_wrapper {
  width: 100%;
  height: auto;

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

.captions {
  list-style-type: none;
  display: inline-block;
  margin: 2px;
  padding: 5px;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

  box-shadow: inset 0 0 3px black;
}

#photo_gallery img{
  width: 100%;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

img.pop {
  padding-bottom: 30px;
	background: radial-gradient(closest-side at 50% 95%, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 90%);
}
  /* [ END MAIN GALLERY ] */


.preview {
  padding: 4em;
  width: 100%;
  margin: 0 auto;
  /*border: 1px solid red;*/
}

.preview figure {
  /*width: 60%;*/
  height: 98%;
  margin: 10 auto;
  /*border: 1px solid green;*/
}


    /*  [ Thumbnail images ]  */
#thumbnail_scroll {
  top: 12em;
  right:1%;

  width: 17%;
  min-width: 150px;
  max-width: 150px;
  max-height: 60%;
  overflow-y: scroll;

  padding-top: 2px;
  padding-bottom: 2px;

  /* set display as grid */
  display: grid;

  /* set as 1-column grid */
  grid-template-columns: [start] 100% [end];

  /* set as multi-row grid */
  grid-auto-flow: row;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

  box-shadow: inset 0 0 10px black;

  background-color: #c0c0c0;
  background-image: url("https://www.transparenttextures.com/patterns/buried.png");
}

.thumbnail {
  width: 90%;
  margin: 5px auto;
  padding: 2px;

  /* set as grid */
  display: grid;

  /* set as 1-column grid */
  grid-template-columns: [start] 100% [end];

  /* set as 1-row grid */
  grid-template-rows: [start] auto [end];

  /*border: 1px solid green;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#thumbnail_scroll img{
  width: 100%;

  /*border: 1px solid red;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}
    /*  [ END Thumbnail images ]  */


    /* [ Footer ] */
footer {
  position: fixed;
  bottom: 0px;
  clear: both;

  width: 100%;
  margin: 0 auto;

  background-color: #c0c0c0;
  box-shadow: inset 0 0 10px black;
  box-shadow: 0 0 10px #000;
}

.fOptions {
  width: 200px;
  padding-bottom: 3px;
}

#copyright {
  position: relative;
  top: 0.2em;

  float: left;
  padding-left: 1.4%;
}

#aName {
  color: #ff0000;
}


/* ABOUT PAGE */

#coding {
  top: 8%;
  left: 38.4%;
  width: 23%;
  /*height: 40%;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


#coding:hover {
  width: 24%;
  box-shadow: 3px 5px 4px #000;
  cursor:crosshair;
  /*box-shadow: inset 0 0 5px #000000;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#coding2 {
  bottom: 40px;
  left: 20%;
  width: 10%;
  /*height: 40%;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#coding2:hover {
  width: 11%;
  box-shadow: 3px 5px 4px #000;
  cursor:crosshair;
  /*box-shadow: inset 0 0 5px #000000;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


#selfie {
  bottom: 5px;
  left: 33.4%;
  width: 32%;
  /*height: 40%;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


#selfie:hover {
  left: 32.8%;
  width: 33%;
}

#media {
  bottom: 40px;
  left: 66.5%;
  width: 10%;
  /*height: 40%;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#media:hover {
  width: 11%;
  box-shadow: -3px -5px 4px #000;
  cursor:crosshair;
  /*box-shadow: inset 0 0 5px #000000;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


#fotography {
  bottom: 30%;
  left: 4%;
  width: 25%;
  /*height: 40%;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#fotography:hover {
  width: 26%;
  box-shadow: 3px 5px 4px #000;
  cursor:crosshair;
  /*box-shadow: inset 0 0 5px #000000;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#fotography2 {
  bottom: 40px;
  left: 4%;
  width: 10%;
  /*height: 40%;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#fotography2:hover {
  width: 11%;
  box-shadow: -3px -5px 4px #000;
  cursor:crosshair;
  /*box-shadow: inset 0 0 5px #000000;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


#filming {
  bottom: 30%;
  right: 4%;
  width: 25%;
  /*height: 40%;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#filming:hover {
  width: 26%;
  box-shadow: -3px 5px 4px #000;
  cursor:crosshair;
  /*box-shadow: inset 0 0 5px #000000;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#filming2 {
  bottom: 40px;
  right: 4%;
  width: 10%;
  /*height: 40%;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#filming2:hover {
  width: 11%;
  box-shadow: 3px 5px 4px #000;
  cursor:crosshair;
  /*box-shadow: inset 0 0 5px #000000;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


#creativ {
  top: 8%;
  right: 6%;
  width: 20%;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#passione {
  top: 8%;
  left: 4%;
  width: 20%;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


/*  ABOUT ARTICLES  */

.main-article {
  top: 18%;
  /*left: 30%;*/
  width: 100%;
  height: 60%;
  /*box-shadow: 0px 0px 10px #000;*/
  box-shadow: inset 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

}

#photographer {
  width: 90%;
  margin: 5% 5% auto;
  /*border: 1px solid black;*/

}

#photographer p:nth-child(1) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#photographer p:nth-child(2) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#photographer p:nth-child(3) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#photographer p:nth-child(4) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#photographer p:nth-child(5) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#programmer {
  width: 90%;
  margin: 5% 5% auto;
  /*border: 1px solid black;*/

}

#programmer p:nth-child(1) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#programmer p:nth-child(2) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#programmer p:nth-child(3) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#programmer p:nth-child(4) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}


#videographer {
  width: 90%;
  margin: 5% 5% auto;
  /*border: 1px solid black;*/

}

#videographer p:nth-child(1) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#videographer p:nth-child(2) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#videographer p:nth-child(3) {
  bottom: 5%;
  left: 2.5%;
  width: 400px;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}



#info {
    width: 90%;
    margin: 5% 5% auto;
    /*border: 1px solid black;*/

  }

#info p:nth-child(1) {
    bottom: 5%;
    left: 2.5%;
    width: 400px;
    box-shadow: 0px 0px 20px #000000;
    background-color: #ffffff;
    -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
       -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
            border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
    margin: 10px auto;
    padding-left: 2%;
    padding-right: 1%;
    border: 1px solid black;

  }

#info p:nth-child(2) {
    bottom: 5%;
    left: 2.5%;
    width: 400px;
    box-shadow: 0px 0px 20px #000000;
    background-color: #ffffff;
    -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
       -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
            border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
    margin: 10px auto;
    padding-left: 2%;
    padding-right: 1%;
    border: 1px solid black;

  }

#info p:nth-child(3) {
    bottom: 5%;
    left: 2.5%;
    width: 400px;
    box-shadow: 0px 0px 20px #000000;
    background-color: #ffffff;
    -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
       -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
            border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
    margin: 10px auto;
    padding-left: 2%;
    padding-right: 1%;
    border: 1px solid black;

  }

#info p:nth-child(4) {
    bottom: 5%;
    left: 2.5%;
    width: 400px;
    box-shadow: 0px 0px 20px #000000;
    background-color: #ffffff;
    -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
       -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
            border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
    margin: 10px auto;
    padding-left: 2%;
    padding-right: 1%;
    border: 1px solid black;

  }

#info p:nth-child(5) {
    bottom: 5%;
    left: 2.5%;
    width: 400px;
    box-shadow: 0px 0px 20px #000000;
    background-color: #ffffff;
    -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
       -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
            border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
    margin: 10px auto;
    padding-left: 2%;
    padding-right: 1%;
    border: 1px solid black;

  }


#mediaDesign {
      width: 90%;
      margin: 5% 5% auto;
      /*border: 1px solid black;*/

    }

#mediaDesign p:nth-child(1) {
      bottom: 5%;
      left: 2.5%;
      width: 400px;
      box-shadow: 0px 0px 20px #000000;
      background-color: #ffffff;
      -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
         -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
              border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
      margin: 10px auto;
      padding-left: 2%;
      padding-right: 1%;
      border: 1px solid black;

    }


#close-button {
  top: 10px;
  right: 10px;
  width: 25px;
  padding-top: 2.2px;
  cursor: default;
  box-shadow: 0px 0px 2px #000000;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

.ebox {
  bottom: 30px;
  left: 0px;
  width: 100%;
  /*border: 2px solid black;*/
}

#email {
  bottom: 10px;
  left: 38%;
  padding: 5px 5px;
  margin: 0 0 auto;
  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#credList {
  /*border: 1px solid black;*/
  width: 550px;
  right: 12%;
  bottom: 40px;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#credList li {
  display: block;
  padding-bottom: 1%;
}
