@import url(//fonts.googleapis.com/css?family=PT+Sans+Narrow|Volkhov:400italic,700);

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* General Demo Style */
body {
	color: #444;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    min-width: 320px;
}

body.body_container{
  background-color: #87898c;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

a {
	color: #000;
	text-decoration: none;
}

/* [ nav-bar ] */
.codrops-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

	line-height: 24px;
	font-size: 9px;
  font-family: Cambria, Georgia, serif;
  text-transform: uppercase;

	background-color: #c0c0c0;

  /* set display as grid */
  display: grid;

  /* set as 5-column grid */
  grid-template-columns: [start] repeat(3, 1fr) [end];

  /* set as 1-row grid */
  grid-template-rows: auto;

  /* set grid area */
  grid-template-areas: "collapseIcon homebutton gallery";

	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	/*border: 1px solid black;*/
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:after {
	content: "";
	/*display: table;*/
	clear: both;
}

.collapse-icon {
	grid-area: collapseIcon;

	justify-self: start;    /* place logo to far right */
	align-self: center;     /* center of column-grid */

	width: 30%;   /* 40% weight of column */
	height: 85%;

	padding-left: 10px;

	/* set as grid */
	display: grid;

	/* set as 1-column grid */
	grid-template-columns: [start] 40% [end];

	/* set as 3-row-grid */
	grid-template-rows: [start] repeat(3, 30%) [end];

	/* 1px gap between rows */
	grid-row-gap: 1px;

	/*border: 1px solid red;*/
}

.dot-icon {
	content: "";
	display: block;

	width: 5px;
	height: 5px;

	background-color: #323232;

	justify-self: center;    /* place logo to far right */
	align-self: center;     /* center of column-grid */

	border: 1px solid #323232;
	-webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	 -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
				border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

	/*box-shadow: inset 0 0 1px #fff;*/
}

#homebutton {
  grid-area: homebutton;
	justify-self: center;

  width: 100px;
  height: 27px;

	letter-spacing: 1px;
	color: #333;

	/* set display as grid */
  display: grid;

  /* set as 2-column grid */
  grid-template-columns: [start] 30% [middle] 70% [end];

  /* set as 1-row grid */
  grid-template-rows: auto;

  /* set grid area */
  grid-template-areas: "logo lekoj";

	/*border: 1px solid blue;*/
	-webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
		 -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
					border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#homebutton:hover {
	background: linear-gradient(to left, red, black);
}

#logo {
  grid-area: logo;
  padding-left: 2px;
  padding-top: 1.5px;
  width: 100%;
  /*border: 1px solid red;*/
}

#logo_image {
  width: 23px;
}

#right {
  grid-area: lekoj;
  width: auto;

  text-align: justify;
  text-shadow: 0 1px 0 white;
  color: #000;

  padding-left: 3px;
  padding-top: 1px;
  width: 100%;

  /*border: 1px solid red;*/
}

#galleryButton {
  grid-area: gallery;
  justify-self: start;
  align-self: center;

  text-align: center;

  width: 100%;

  /*border: 1px solid #C0C9C0;*/
	-webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
		 -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
					border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#galleryButton:hover {
	background: linear-gradient(to left, red, black);
}

    /* [Gold Button] */
#request {
	display: none;
}

    /* [ About Gold Button] */
#exhibit {
	display: none;
}

#icredit {
	display: none;
}

    /*  [ Page Info & Mission statement ]   */
#title_head {
	position: absolute;
	top: 3em;
  margin-top: 40px;
  min-width: 320px;
  text-align: center;
  padding: 5px;

  /* set as grid */
  display: grid;

  /* set as 1-column grid */
  grid-template-columns: [start] 100% [end];

  /* set as 2-row grid */
  grid-template-rows: [start] 80% [middle] 20% [end];

  /* set grid area */
  grid-template-areas: "project_title"
                       "parent_name";

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

  background-color: #c0c0c0;
  background-image: url("https://www.transparenttextures.com/patterns/buried.png");
}

#project_title {
  grid-area: project_title;
  justify-self: center;    /* place logo to center */
  align-self: center;     /* center of column-grid */
  width: auto;
  height: 40px;

  font-size: 30px;
  color: #fff;
  font-family: "Volkhov", serif;
  text-align: center;
  font-weight: 400;

  padding-left: 10px;
  padding-right: 10px;
	padding-top: 3px;

  text-shadow:
                   0 1px 0 hsl(174,5%,80%),
                   0 2px 0 hsl(174,5%,75%),
                   0 3px 0 hsl(174,5%,70%),
                   0 4px 0 hsl(174,5%,66%),
                   0 5px 0 hsl(174,5%,64%),
                   0 6px 0 hsl(174,5%,62%),
                   0 7px 0 hsl(174,5%,61%),
                   0 8px 0 hsl(174,5%,60%),

                   0 0 5px rgba(0,0,0,.05),
                   0 1px 3px rgba(0,0,0,.2),
                   0 3px 5px rgba(0,0,0,.2),
                   0 5px 10px rgba(0,0,0,.2),
                   0 10px 10px rgba(0,0,0,.2),
                   0 20px 20px rgba(0,0,0,.3);

  /*border: 1px solid red;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


#parent_name {
	display: none;
  grid-area: parent_name;
  justify-self: center;    /* place logo to center */
  align-self: start;     /* center of column-grid */
  width: auto;

  padding-left: 10px;
  padding-right: 10px;

  text-shadow: 0px 1px 0px #fff;
	color: #8d0e0e;
  font-family: "Brush Script MT", cursive;
	font-size: 10px;
	font-weight: 10;

  border: 1px solid red;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

      /*  [ Filter & Search Forms ] */

aside {
  position: fixed;
}

#left_nav {
  left: 1px;
	top: 1.5em;
	z-index: 999;
  width: 17%;
  min-width: 100px;
  max-width: 115px;

  margin-top: 10px;

  background-color: #292929;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  box-shadow: 0 0 10px #000;

  /* set display as grid */
  display: none;

  /* set 1-column grid */
  grid-template-columns: [start] 100% [end];

  /* set as 2-row-grid */
  grid-template-rows: [start] 45px [middle] auto [end];

  /* set gap between rows */
  grid-row-gap: 1px;

  /* set grid area */
  grid-template-areas: "views"
                       "filter_form";

  /*border: 1px solid blue;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	   -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	        border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	        transition: all .5s;
}


div.views{
  grid-area: views;
  width: 100%;
  margin-top: 2.5px;
  padding-right: 2px;

  /* set display as grid */
  display: grid;

  /* set as 2-column grid */
  grid-template-columns: [start] repeat(2, 1fr) [end];

  /* set as 1-row grid */
  grid-template-rows: [start] 100% [end];

  /* set grid area */
  grid-template-areas: "alpha beta";

  /*border: 1px solid red;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


.alpha{
  grid-area: alpha;
  justify-self: center;
  align-self: center;

  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) repeat 9px center;
  height: 40px;
  width: 40px;

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	   -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	        border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

  box-shadow: inset 0 0 10px #000000;
}


.alpha:hover {
  box-shadow: inset 0 0 5px #000000;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

.alpha:focus {
  background-color: #ff0000;
  outline: none;
}


.beta{
  grid-area: beta;
  justify-self: center;
  align-self: center;

  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) repeat 9px center;
  height: 40px;
  width: 40px;

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	   -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
	        border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

  box-shadow: inset 0 0 10px #000000;
}


.beta:hover {
  box-shadow: inset 0 0 5px #000000;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


.beta:focus {
  background-color: #ff0000;
  outline: none;
}

#filter_form {
  grid-area: filter_form;
  width: 95%;
  padding: 5px;
  margin: 5px auto;

  background-color: #292929;
  background-image: url("https://www.transparenttextures.com/patterns/maze-black.png");
  box-shadow: inset 0 0 10px black;

  /* set display as grid */
  display: grid;

  /* set as 1-column grid */
  grid-template-columns: [start] 100% [end];

  /* set as multi-row */
  grid-template-rows: [start] auto [end];

  /* set auto rows */
  grid-auto-rows: auto;

  /* set default grid of new elements */
  grid-auto-flow: row;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

input {
	outline: none;
}

div.cell {

  /* set display as grid */
  display: grid;

  /* set as 2-colum grid */
  grid-template-columns: [start] 80% [middle] 20% [end];

  /* set as 1-row grid */
  grid-template-rows: [start] auto [end];

  /* set gap between columns */
  grid-column-gap: 1px;

  /* set grid area */
  grid-template-areas: "label checkbox_container";


  -webkit-border-radius: 1em;
	   -moz-border-radius: 1em;
	        border-radius: 1em;
}

label {
  grid-area: label;
}

#reset {
  color: #add0ff;
}

.checkbox_container {
  grid-area: checkbox_container;
  justify-self: center;
}

img#alpha{
  width: 100%;
}

img#beta{
  width: 100%;
}

    /*  [ END Filter & Search Forms ] */


    /* [ MAIN GALLERY ] */

#photo_gallery {
  width: 70%;
  min-width: 320px;

  margin: 0 auto;
  margin-top: 10em;
	margin-bottom: 10px;

  /* set display as grid */
  display: grid;

  /* set as 1-column grid */
  grid-template-columns: [start] 100% [end];

  /* set as 1-row grid */
  grid-template-rows: auto;

  /* set as multi-row grid */
  grid-auto-flow: row;

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

figure#alpha_gallery {
  /*border: 2px solid black;*/
  margin-bottom: 5%;
  width: 100%;
  padding: .5%;

  /*border: 1px solid blue;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

figure#beta_gallery {
	justify-self: center;
  margin-bottom: 5%;
  width: 97%;
  padding: .5%;
	/*padding-left: 1px;*/

  /*border: 1px solid blue;*/
}

figcaption{
  width: 258px;
  /*text-shadow: 0 1px 0 white;*/
  min-width: 210px;

  height: auto;

	font-size: 10px;
	letter-spacing: 1px;

  /*border: 1px solid red;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

.caption_wrapper {
  width: 100%;
  height: auto;

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

.captions {
  list-style-type: none;
  display: inline-block;
  margin: 2px;
  padding: 5px;
  color: #000;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

  box-shadow: inset 0 0 3px black;
  background-color: #c0c0c0;
  background-image: url("https://www.transparenttextures.com/patterns/buried.png");
}

#photo_gallery img{
  width: 100%;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

img.pop {
  padding-bottom: 30px;
	background: radial-gradient(closest-side at 50% 95%, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 90%);
}
  /* [ END MAIN GALLERY ] */


    /* [ Preview ]  */
.preview {
	position: fixed;
  bottom: 1em;
  width: 100%;
  height: 84%;

  padding: 1px;
  margin: 0 auto;

	/* set as grid */
	display: none;

	/* set as 1-column grid */
	grid-template-columns: [start] 100% [end];

	/* set 1-row grid */
	grid-template-rows: [start] 100% [end];

	grid-template-areas: "preview";
  /*border: 1px solid red;*/
}

.previewbackground {
	grid-area: preview;

  background: #e4ebe9 url(../images/texture3.jpg) repeat top left;
  opacity: 0.9;

 -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
     -ms-filter: blur(1px);
      -o-filter: blur(1px);
         filter: blur(1px);
}

.preview figure {
	grid-area: preview;
	z-index: 1;
	justify-self: center;
	align-self: center;

  width: 100%;

  /*border: 1px solid green;*/
	-webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
		 -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
					border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

.preview_image {
    width: 100%;
    /*margin: 0 auto;*/

		-webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
			 -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
						border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#image_name {
	margin-left: 5px;
	margin-bottom: 5px;
	font-family: expletus-sans, sans-serif;
	font-size: 15px;
	color: #d4af37;
	/*padding-right: 2px;*/
	letter-spacing: 2px;
	text-shadow: 1px 1px 0 #000,
							 1px 2px 0 #000,
							 1px 3px 0 #000000,
							 1px 3px 0 #191919,
							 1px 2px 0 #000;
}

    /* [ END Preview ] */


    /*  [ Thumbnail images ]  */
#thumbnail_scroll {
  top: 2.1em;
  left:0px;
	/*z-index: 999;*/

  width: 100%;
	height: 50px;
  max-width: 316px;
  overflow-x: auto;
	overflow-y: hidden;

	padding-top: .5px;

	/*margin: 1px auto;*/
	margin-left: 2px;

  /*padding-top: 2px;
  padding-bottom: 2px;*/

  /* set display as grid */
  display: grid;

	/* set as multi-column grid */
	/*grid-template-columns: auto;*/

	/* set as 1-row grid */
	grid-template-rows: [start] 50px [end];

	/* set as 1-row grid */
	grid-auto-columns: auto;

  /* set as multi-row grid */
  grid-auto-flow: column;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;

  box-shadow: inset 0 0 10px black;

  background-color: #c0c0c0;
  background-image: url("https://www.transparenttextures.com/patterns/buried.png");
}

.thumbnail {
	align-self: center;
  height: 100%;
  /*margin: 5px;*/
  padding: 2px;

  /* set as grid */
  display: block;

  /*border: 1px solid green;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#thumbnail_scroll img{
  height: 95%;
	/*width: 50px;*/

  /*border: 1px solid red;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}
    /*  [ END Thumbnail images ]  */


    /* [ Footer ] */
footer {
  position: fixed;
  bottom: 0px;
  clear: both;

	font-size: 9px;

  width: 100%;
  margin: 0 auto;

  background-color: #c0c0c0;
  box-shadow: inset 0 0 10px black;
  box-shadow: 0 0 10px #000;
}

.fOptions {
  width: 200px;
  padding-bottom: 3px;
}

#copyright {
  position: relative;
  top: 0.2em;

  float: left;
  padding-left: 1.4%;
}

#aName {
  color: #ff0000;
}
    /* [ END Footer ] */



/* ABOUT PAGE */

.about_container {
	background-color: #b21428;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 10px;
	font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    min-width: 320px;
}

#values {
  position: fixed;
  top: 6.5em;

  width: 100%;

  /* set display as grid */
  display: grid;

  /* set as 3-column grid */
  grid-template-columns: [start] repeat(2, 1fr) [end];

  /* set as 1-row grid */
  grid-template-rows: auto;

  /* set grid area */
  grid-template-areas: "passion creativity";

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#passione {
  grid-area: passion;
  justify-self: start;
	text-align: left;

	padding-left: 4px;

  width: 100%;

  /*border: 1px solid blue;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#creativ {
  grid-area: creativity;
  justify-self: center;
	text-align: right;

  width: 100%;

  /*border: 1px solid blue;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#values h2 {
  font-family: expletus-sans, sans-serif;
  font-size: 20px;
  color: #FFDF00;
  padding-right: 2px;
  letter-spacing: 3px;
  text-shadow: 0 1px 0 #000,
               0 2px 0 #000,
               0 3px 0 #000000,
               0 4px 0 #191919,
               0 5px 0 #000,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#icon_wrapper {
  position: fixed;
  bottom: 2em;
  width: 100%;
  height: 78%;

  /* set display as grid */
  display: grid;

  /* set as 6-column grid */
  grid-template-columns: [start] repeat(6, 1fr) [end];

  /* set as 7-row grid */
  grid-template-rows: [start] repeat(7, 1fr) [end];

  /* set grid area */
  grid-template-areas: ". . coding coding . ."
                       ". . coding coding . ."
                       "fotography fotography coding coding filming filming"
                       "fotography fotography . . filming filming"
                       "fotography fotography . . filming filming"
                       ". . . . . ."
                       "foto2 coding2 . . media film2";

  /*border: 1px solid black;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#coding {
  grid-area: coding;
  justify-self: center;
  align-self: center;
  width: 110%;
	padding-right: 30px;
	padding-top: 5px;

  /*border: 1px solid blue;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}


#coding:hover {
  width: 115%;
  box-shadow: 3px 5px 4px #000;
  cursor:crosshair;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#coding2 {
  grid-area: coding2;
  justify-self: center;
  align-self: center;

  width: 60%;

	padding-right: 10px;
	padding-top: 5px;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#coding2:hover {
  width: 65%;
  box-shadow: 3px 5px 4px #000;
  cursor:crosshair;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#laptop {
	width: 140%;
	margin: 0 auto;

}


#fotography {
  grid-area: fotography;
  justify-self: center;
  align-self: center;

  width: 110%;

	padding-right: 5px;
	padding-top: 5px;

	margin-left: 10px;
	margin-top: 30px;

  /*border: 1px solid blue;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#fotography:hover {
  width: 115%;
  box-shadow: 3px 5px 4px #000;
  cursor:crosshair;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#fotography2 {
  grid-area: foto2;
  justify-self: center;
  align-self: center;

  width: 60%;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#fotography2:hover {
  width: 65%;
  box-shadow: -3px -5px 4px #000;
  cursor:crosshair;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#canonFoto {
	width: 110%;
	margin: 0 auto;

}

#filming {
  grid-area: filming;
  justify-self: center;
  align-self: center;

  width:110%;

	margin-top: 30px;
	margin-right: 20px;

	padding-right: 5px;
	padding-top: 5px;

  /*border: 1px solid blue;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#filming:hover {
  width: 115%;
  box-shadow: -3px 5px 4px #000;
  cursor:crosshair;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#filming2 {
  grid-area: film2;
  justify-self: center;
  align-self: center;

  width: 60%;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#filming2:hover {
  width: 65%;
  box-shadow: 3px 5px 4px #000;
  cursor:crosshair;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#canonFilm {
  width: 110%;
  margin: 0 auto;

}

#media {
  grid-area: media;
  justify-self: center;
  align-self: center;

  width: 90%;

  /*border: 1px solid blue;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#media:hover {
  width: 95%;
  box-shadow: -3px -5px 4px #000;
  cursor:crosshair;

  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#lens {
  width: 90%;
  margin: 0 auto;
}

#selfie {
  position:fixed;
  bottom: 5px;
  left: 27.4%;
  width: 40%;
	padding-right: 15px;

	/*border: 1px solid blue;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#selfie:hover {
  left: 26.8%;
  width: 41%;
}

#dreadlocks {
  width: 120%;

}


/*  ABOUT ARTICLES  */

.main-article {
  position: fixed;
  top: 18%;
  /*left: 30%;*/
  width: 100%;
  height: 60%;
  /*box-shadow: 0px 0px 10px #000;*/
  box-shadow: inset 0px 0px 20px #000000;
  background-color: #ffffff;

	/*border: 1px solid blue;*/
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

.articles {
  position: absolute;
}

#photographer {
  position: absolute;
  width: 90%;
  margin: 5% 5% auto;
  /*border: 1px solid black;*/

}

#photographer p:nth-child(1) {
  bottom: 5%;
  left: 2.5%;
  width: 100%;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#photographer p:nth-child(2) {
  bottom: 5%;
  left: 2.5%;
  width: 100%;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#photographer p:nth-child(3) {
  bottom: 5%;
  left: 2.5%;
  width: 100%;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#photographer p:nth-child(4) {
  bottom: 5%;
  left: 2.5%;
  width: 100%;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#photographer p:nth-child(5) {
  bottom: 5%;
  left: 2.5%;
  width: 100%;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#programmer {
  width: 90%;
  margin: 5% 5% auto;
  /*border: 1px solid black;*/

}

#programmer p:nth-child(1) {
  bottom: 5%;
  left: 2.5%;
  width: 100%;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#programmer p:nth-child(2) {
  bottom: 5%;
  left: 2.5%;
  width: 100%;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#programmer p:nth-child(3) {
  bottom: 5%;
  left: 2.5%;
  width: 100%;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#programmer p:nth-child(4) {
  bottom: 5%;
  left: 2.5%;
	width: 100%;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}


#videographer {
  width: 90%;
  margin: 5% 5% auto;
  /*border: 1px solid black;*/

}

#videographer p:nth-child(1) {
  bottom: 5%;
  left: 2.5%;
  width: 100%;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#videographer p:nth-child(2) {
  bottom: 5%;
  left: 2.5%;
  width: 100%;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}

#videographer p:nth-child(3) {
  bottom: 5%;
  left: 2.5%;
  width: 100%;
  box-shadow: 0px 0px 20px #000000;
  background-color: #ffffff;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
  margin: 10px auto;
  padding-left: 2%;
  padding-right: 1%;
  border: 1px solid black;

}



#info {
    width: 90%;
    margin: 5% 5% auto;
    /*border: 1px solid black;*/

  }

#info p:nth-child(1) {
    bottom: 5%;
    left: 2.5%;
    width: 100%;
    box-shadow: 0px 0px 20px #000000;
    background-color: #ffffff;
    -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
       -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
            border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
    margin: 10px auto;
    padding-left: 2%;
    padding-right: 1%;
    border: 1px solid black;

  }

#info p:nth-child(2) {
    bottom: 5%;
    left: 2.5%;
    width: 100%;
    box-shadow: 0px 0px 20px #000000;
    background-color: #ffffff;
    -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
       -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
            border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
    margin: 10px auto;
    padding-left: 2%;
    padding-right: 1%;
    border: 1px solid black;

  }

#info p:nth-child(3) {
    bottom: 5%;
    left: 2.5%;
  	width: 100%;
    box-shadow: 0px 0px 20px #000000;
    background-color: #ffffff;
    -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
       -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
            border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
    margin: 10px auto;
    padding-left: 2%;
    padding-right: 1%;
    border: 1px solid black;

  }

#info p:nth-child(4) {
    bottom: 5%;
    left: 2.5%;
    width: 100%;
    box-shadow: 0px 0px 20px #000000;
    background-color: #ffffff;
    -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
       -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
            border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
    margin: 10px auto;
    padding-left: 2%;
    padding-right: 1%;
    border: 1px solid black;

  }

#info p:nth-child(5) {
    bottom: 5%;
    left: 2.5%;
    width: 100%;
    box-shadow: 0px 0px 20px #000000;
    background-color: #ffffff;
    -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
       -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
            border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
    margin: 10px auto;
    padding-left: 2%;
    padding-right: 1%;
    border: 1px solid black;

  }


#mediaDesign {
      width: 90%;
      margin: 5% 5% auto;
      /*border: 1px solid black;*/

    }

#mediaDesign p:nth-child(1) {
      bottom: 5%;
      left: 2.5%;
      width: 100%;
      box-shadow: 0px 0px 20px #000000;
      background-color: #ffffff;
      -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
         -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
              border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
      margin: 10px auto;
      padding-left: 2%;
      padding-right: 1%;
      border: 1px solid black;

    }

#close-button {
  position: absolute;
  top: 3px;
  right: 2.5px;

  width: 20px;
	height: 20px;
  padding-top: 2.2px;
  cursor: default;

  font-size: 20px;
  text-align: center;
  line-height: 15px;

  box-shadow: 0px 0px 2px #000000;

  border: 1px solid #0C0C0C;
  -webkit-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
     -moz-border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
          border-radius: .5em .5em .5em .5em / .5em .5em .5em .5em ;
}

#close-button:hover {
  color: #b20000;
  text-shadow: 0px 1px 0px #fff;
}
