


/* END */

.preview_image {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;

}



/* ABOUT */

#laptop {
  width: 100%;
  margin: 0 auto;
}

#dreadlocks {
  width: 100%;
  margin: 0 auto;
}

#lens {
  width: 100%;
  margin: 0 auto;
}

#canonFoto {
  width: 100%;
  margin: 0 auto;
}

#canonFilm {
  width: 100%;
  margin: 0 auto;
}
